/* Polices importées */
@font-face {
    font-family: 'Engage';
    src: url('./fonts/EngageRegular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'BebasNeue';
    src: url('./fonts/BebasNeueRegular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    margin: 0;
    padding: 0;
}

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        center / cover url("https://img.freepik.com/photos-gratuite/travailleur-afro-americain-ecrivant-liste-inventaire-tout-verifiant-stock-dans-salle-stockage_637285-4716.jpg?w=740&t=st=1681209824~exp=1681210424~hmac=8dc15eda309276a4b9bb2f484140f9df2ba183f3248bedc2786d457501774759") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-title,
.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title h1,
.footer-title h1 {
    text-transform: uppercase;
    font: bold 5vw 'Engage';
    color: white;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.footer-title h1 {
    font-size: 30px;
}

.hero-retail-icon,
.footer-retail-icon,
.footer-retail-icon-2 {
    width: 13vw;
    height: 13vw;
    object-fit: contain;
    margin-right: 20px;
    filter: invert(100%) drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
}

.footer-retail-icon {
    width: 70px;
    height: 70px;
}

.footer-retail-icon-2 {
    width: 14vw;
    height: 14vw;
    opacity: 0.05;
    position: absolute;
    right: 0px;
}

.hero-subtitle,
.footer-subtitle,
.hero-subtitle span,
.footer-subtitle span {
    font: normal 3vw 'BebasNeue';
    font-weight: normal;
    color: rgb(200, 200, 200);
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    margin: 0;
}

.hero-subtitle span,
.footer-subtitle span {
    color: white;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
}

.footer-subtitle,
.footer-subtitle span {
    font-size: 20px;
}

.slide-to-bottom-box {
    position: absolute;
    bottom: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-to-bottom-box h6 {
    margin-top: 10px;
    color: white;
    font: normal 14px 'BebasNeue';
}

.slide-to-bottom-circle {
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3.5vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-arrow {
    width: 15px;
    height: 15px;
    object-fit: contain;
    filter: invert(100%);
}

.description-group {
    padding: 25px 50px;
}

.description-group h1 {
    font: normal 58px 'BebasNeue';
    margin: 0;
    margin-bottom: 30px;
}

.description-group h1::before {
    content: " ";
    display: inline-block;
    width: 8px;
    height: 40px;
    background-color: gold;
    margin-right: 10px;
}

.description-group p {
    font: normal 22px 'Arial';
    text-align: justify;
}

.description-group h2 {
    font: normal 28px 'BebasNeue';
    margin-bottom: 20px;
}

.key-elem-group {
    display: flex;
}

.key-elem {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.key-elem:first-of-type {
    margin-left: 0;
}

.key-elem img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
    box-shadow: 7px 7px 0px gold;
}

.key-elem h3 {
    font: normal 22px 'BebasNeue';
    margin-top: 20px;
    margin-bottom: 10px;
}

.key-elem p {
    font: normal 16px 'Arial';
    margin: 0 0 10px 0;
}

.mcd-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mcd-presentation {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.mcd-presentation p {
    margin: 0;
}

.mcd-presentation li {
    font: bold 20px 'Arial';
    text-transform: uppercase;
}

.mcd-presentation a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: all .5s;
}

.mcd-presentation a:hover {
    font-weight: bold;
    color: black;
    background-color: gold;
    padding: 0px 10px;
}

.mcd-img {
    width: 60%;
    /* border-radius: 10px; */
    object-fit: contain;
    filter: drop-shadow(15px 15px 0px gold);
}

.footer {
    width: 96vw;
    padding: 40px 2vw;
    background-color: black;
    margin-top: 50px;
    color: white;
    font-family: 'Arial';
    display: flex;
    justify-content: start;
}

.footer-elem {
    min-width: 15%;
    max-width: 30%;
    margin-left: 5%;
}

.footer-elem h2 {
    font-family: 'BebasNeue';
    font-weight: normal;
    margin-top: 0;
}

.footer-elem h2::before {
    content: " ";
    display: inline-block;
    width: 5px;
    height: 17px;
    background-color: gold;
    margin-right: 5px;
}

.footer-elem ul {
    padding-left: 15px;
}

.footer-elem a {
    text-decoration: none;
    color: white;
    transition: all .5s;
}

.footer-elem a:hover {
    color: black;
    font-weight: bold;
    background-color: gold;
    padding: 0 5px;
}

.entity-elem-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}

.entity-elem {
    display: flex;
    flex-direction: row;
    width: 45%;
}

.entity-elem img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-right: 30px;
    filter: drop-shadow(7px 7px 0px gold);
}

.entity-elem h2 {
    font: normal 32px 'BebasNeue';
    margin-top: 0;
}

.header {
    width: 100%;
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 5px solid gold;
}

.header-retail-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 10px;
}

.header h2 {
    text-transform: uppercase;
    font: bold 18px 'Engage';
    color: black;
    margin: 0;
}

.entity-description-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.entity-description {
    width: 100%;
}

.entity-description table {
    width: 100%;
    font: normal 18px 'Arial';
    background-color: black;
    text-align: left;
}

.entity-description table thead {
    background-color: rgb(133, 220, 255);
}

.entity-description table th,
.entity-description table td {
    padding: 5px 15px;
}

.entity-description table tbody td {
    background-color: white;
}

.entity-description table span {
    font-weight: bold;
    color: red;
}

.entity-elem-group:last-of-type {
    margin: 0;
}

.xpath-test {
    margin-bottom: 50px;
}

.xpath-test h3 {
    font: normal 20px 'Arial';
    color: black;
}

.xpath-test h3 span {
    font: normal 16px 'Engage';
    background-color: gold;
    padding: 5px 11px;
    border-radius: 20px;
    margin-right: 8px;
}

.xpath-req {
    width: fit-content;
    font: bold 20px 'Arial';
    padding: 10px 20px;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 0px gold;
}